.miss-plete {
  position: relative;
}

.miss-plete > ul {
  font-size: 1.5em;

  position: absolute;
  right: 0;
  left: 0;

  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;

  text-align: left;

  border: 1px solid rgba(0,0,0,.3);
  background-color: white;
}

.miss-plete > ul > li {
  padding: .2em .5em;
}

.miss-plete > ul > li.highlight {
  cursor: pointer;

  background-color: #ffe3b0;
}

.miss-plete > ul > li span {
  color: #777;
}
